{% extends 'core/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilo.css' %}" />
{% endblock %} {% block contenido %}
<form method="POST" action="" id="formulario">
  {% csrf_token %}
  <table class="table table-striped table-dark">
    {{form.as_table}}
  </table>
  <input type="submit" class="btn btn-warning" id="enviar" value="Modificar" />
  <input type="reset" class="btn btn-dark" id="limpiar" value="Limpiar" />
  <div id="error"></div>
</form>
<div class="alert alert-success" role="alert">{{mensaje}}</div>
{% endblock %}
