{% extends 'core/base.html' %} {% load static %} {% block css%}
<link rel="stylesheet" href="{% static 'core/css/estilo.css' %}" />
{% endblock %} {% block contenido%}

<div class="row">
  <div class="col-12">
    <h2>Inicio</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum error
      quisquam dolorum velit id, iste, hic laborum laboriosam quibusdam aliquid
      recusandae eveniet sapiente veritatis ratione ea saepe aperiam officiis
      rem.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <section>
      <h3>Integrantes</h3>
      <ul>
        <li>Nombre Integrante 1</li>
        <li>Nombre Integrante 2</li>
      </ul>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <section>
      <h3>Mascotas</h3>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-6 text-center">
    <a href="/seccion-perros/" title="Perros">
      <img
        src="{% static 'core/img/seccion-perros.jpg' %}"
        title="Perros"
        alt="Perros"
        class="rounded-circle img-thumbnail"
        width="250"
      />
    </a>
  </div>
  <div class="col-6 text-center">
    <a href="/seccion-gatos/" title="Gatos">
      <img
        src="{% static 'core/img/seccion-gatos.jpeg' %}"
        title="Gatos"
        alt="Gatos"
        class="rounded-circle img-thumbnail"
        width="250"
      />
    </a>
  </div>
</div>
{% endblock %}
